<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultMail" value="SendAndReceiveViaSMTP@gmail.com" />
    <add key="DefaultMailPassword" value="smtPassword" />
    <add key="LogPath" value="logs\\PicDB_log.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="NilsConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
         AttachDbFilename='C:\Users\Nils\Google Drive\UNI\Semester 04\SWE2\PicDB\PicDB\database\PicDB.mdf';
         Integrated Security=True;
         MultipleActiveResultSets=true;
         Connect Timeout = 30" />
    <add name="ChrisConnectionString"
         connectionString="Data Source = (LocalDB)\MSSQLLocalDB;
         AttachDbFilename = 'C:\Users\Chris\source\repos\SWE2\PicDB\PicDB\database\Database1.mdf';
         Integrated Security = True;
         MultipleActiveResultSets=true;
         Connect Timeout = 30" />
  </connectionStrings>
    <!-- 'MultipleActiveResultSets=true' allows us to use DataReaders in nested functions (and then close them after) -->
</configuration>